## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
from datetime import datetime

now = datetime.now()
print(now)

2022-08-10 13:28:43.683229

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [2]:
import math

def area(radius):
    return math.pi * (radius)**2

area(.5)

0.7853981633974483

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [3]:
my_list = [2,4,5,5,7,9]

def equals(my_list):
    new_list = list(set(my_list))
    if len(new_list) == len(my_list):
        return True
    return False

equals(my_list)

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [4]:
path_to_file = 'data/lil-wayne.txt'
file_handle = open(file=path_to_file)
data = file_handle.read()

upper_data = data.upper()

#create a list of all letter characters 
letters_list = []

for letters in upper_data:
    letters_list.append(letters)
    
#declare a new dictionary 
my_dict = {}

# add new key:value elements to the diction 
for letter in letters_list:
    counter = letters_list.count(letter)
    my_dict[letter]=counter

print(my_dict)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [5]:
dict(sorted(my_dict.items(), reverse = True, key=lambda item: item[1]))

{' ': 522,
 'E': 274,
 'A': 211,
 'I': 185,
 'T': 180,
 'N': 165,
 'R': 152,
 'S': 152,
 'O': 145,
 'L': 126,
 'H': 122,
 'M': 77,
 'D': 74,
 'U': 66,
 'W': 63,
 'C': 60,
 'B': 59,
 'G': 53,
 'Y': 44,
 'F': 44,
 'P': 39,
 ',': 37,
 '0': 36,
 '1': 28,
 '.': 26,
 '2': 24,
 'V': 20,
 '9': 16,
 '[': 14,
 ']': 14,
 'K': 13,
 '(': 12,
 ')': 12,
 'J': 8,
 '7': 7,
 '8': 6,
 '\n': 6,
 '-': 6,
 'X': 5,
 '5': 5,
 '4': 4,
 '6': 3,
 '3': 2,
 ';': 1,
 '!': 1,
 '—': 1}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [6]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

#Remove the fourth number from the list.
fourth = list1.pop(3)

#Take that number you just removed and multiply the last number of the list by that number.
product = fourth*list1[-1]

#Append that number to the end of the list.
list1.append(product)

#Print the list
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [7]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

new_list=[]

for num in original_list:
    if num%3==0:
        new_list.append(num)
        
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [8]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

original_list.reverse()

print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [9]:
original_list = [1, 2, 3, 4, 5, 6, 7]

new_list = []

for num in original_list:
    new_list.append(num*num)
    
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [10]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for num in range(len(list1)):
    print(list1[num], list2[-1-num])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [11]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

list_of_strings = list(filter(None, list_of_strings))
        
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [12]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

value = 999

if value in sample_dict.values():
    print(True)
else: 
    print(False)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [13]:
import pandas as pd

filename = "data/titanic.csv"

df = pd.read_csv(filename)

df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [14]:
mean_ages=df['age'].mean()
print("mean value for all age columns: " + str(mean_ages))

mean value for all age columns: 29.69911764705882


## What was the oldest and youngest ages on the titanic?

In [15]:
age_not_null = list(df['age'].dropna())
age_not_null.sort()

print("the youngest on the titanic: " + str(age_not_null[0]))
print("the oldest on the titanic: " + str(age_not_null[-1]))

the youngest on the titanic: 0.42
the oldest on the titanic: 80.0

## How many people embarked from station 'S'?

In [16]:
df.columns
total = list(df['embarked']).count('S')
print("The number of people embarked from station 'S' is: " + str(total))

The number of people embarked from station 'S' is: 644